<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!--bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/test" />
		<property name="username" value="root" />
		<property name="password" value="password" />
	</bean-->

    <bean id="dsMarketPlace" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/marketplace"/>
        <property name="username" value="mktp"/>
        <property name="password" value="mktp"/>
    </bean>
    
    <!--bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dsMarketPlace"/>
        <property name="mappingResources">
            <list>
                <value>Adjudicacion.hbm.xml</value>
                <value>BloqueoProveedor.hbm.xml</value>
                <value>Combustible.hbm.xml</value>
                <value>Comuna.hbm.xml</value>
                <value>Cotizacion.hbm.xml</value>
                <value>EstadoProveedor.hbm.xml</value>
                <value>Factura.hbm.xml</value>
                <value>Marca.hbm.xml</value>
                <value>MarcaProveedor.hbm.xml</value>
                <value>MedioPago.hbm.xml</value>
                <value>Modelo.hbm.xml</value>
                <value>OfertaCotizacion.hbm.xml</value>
                <value>Pais.hbm.xml</value>
                <value>Proveedor.hbm.xml</value>
                <value>ProveedorSucursal.hbm.xml</value>
                <value>ProveedorSucursalServicio.hbm.xml</value>
                <value>ProveedorSucursalUsuario.hbm.xml</value>
                <value>Region.hbm.xml</value>
                <value>Rol.hbm.xml</value>
                <value>Servicio.hbm.xml</value>
                <value>TipoTransmision.hbm.xml</value>
                <value>TipoVehiculo.hbm.xml</value>
                <value>Traccion.hbm.xml</value>
                <value>Usuario.hbm.xml</value>
                <value>Vehiculo.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQLDialect
                hibernate.show_sql=true
            </value>
        </property>
    </bean--> 
    
</beans>